/target
.idea

# .conf files
api-key.conf
data-access-token.conf
simpleConfigSaverTest.conf
/src/main/resources/configuration.conf
simple-config-saver-key.conf
last-data-access-refresh.conf
latest-meter-data-fetch-date.conf
custom-meter-data-format-enabled.conf

# Data files (might contain sensitive data)
/dataFromApi/*.csv
/dataFromApi/*.json

/temp

*.exe
